*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.footer{
margin-top: 450px;
width: 100%;
padding: 35px 15%;
background-color: #333;
color: #efefef;
display: flex;
}
.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}
form input{
    width: 286px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 2px solid #ffff;
    color: crimson;
    border-radius: 16px;
    padding: 6px 35px;
    font-size: 15px;
    cursor: pointer;
}
.icons{
    margin-top: 30px;
}
.icons i{
    font-size: 22px;
    margin: 10px;
    cursor:pointer;
}